body, h1{
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
	width: 100%;
	background-color: #23282A;
	color: #98AEB6;
}

#container{
	margin: auto;
	margin-top: 150px;
	display: table;
	height: auto;
	border-radius: 15px;
}

#inputField{
	color: #23282A;
	z-index: 3;
}

#ansContainer{
	background-color: #637176;
	border-radius: 0px 0px 5px 5px;
	width: 250px;
	margin: auto;
	padding: 10px;
	margin-top: -75px;
	z-index: -1;
	position: relative;
	color: black;
	-moz-box-shadow:	inset 0 0 2px #000000;
	-webkit-box-shadow:	inset 0 0 2px #000000;
	box-shadow:			inset 0 0 2px #000000;
}

#ansContainer p{
	margin: 0;
	text-align: center;
}

#controls {
    width: 300px;
    border: 0px solid black;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    height: inherit;
    background-color: #2E3437;
}

#controls h1{
	margin-bottom: 20px;
	cursor: default;
}

button{
	margin-top: 20px;
	background-color: #2E3437;
	border: 4px solid #98AEB6;
	border-radius: 10px;
	padding: 5px;
}

button:hover{
	border: 4px solid #98AEB6;
	background-color: #98AEB6;
	color: #23282A;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

#firstEnterParent{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	text-align: center;
	opacity: 0.9;
	display: none;
}

#firstEnterContainer{
	display: table-cell;
	vertical-align: middle;
}

#firstEnterContent{
	width: 600px;
	background-color: #98AEB6;
	margin: auto;
	border-radius: 15px;
	padding: 70px;
	box-sizing: border-box;
	color: #23282A;
}

#firstEnterContent button{
	border: 4px solid #23282A;
	background-color: #98AEB6;
}

#firstEnterContent button:hover{
	background-color: #23282A;
	color: #98AEB6;
}

footer{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 10px;
	text-align: right;
}